// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr#list.Exeption {
  background-color: #f0f080;
}

tr#list.ok {
  background-color: #f0f0f0;
}

tr#list {
  background-color: #f08080;
}
