dfdf<br>
dfdfdf:<a href="/">test</a><br>
asdfd<br>
<%= @res %><br>
asdfdsf
<form name="forrrm" method="post" action="/">
  <input type="hidden" name="aa" value="bb">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <a href="javascript:forrrm.submit()">rinnn</a>
</form>
